.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-repeat: no-repeat;
    font-size: 1rem;
    background-color: white;
    background-position:150px;
    height: 2cm;
}
input{
    height: 2.5rem;
    width:300px;
    border-color: lightgrey;
    background-image: url(icons8-search-30.png);
    background-repeat: no-repeat;
    background-position:4px;

    padding-left:30px;
    border-radius: 30px;
}
a{
    text-decoration: none;
    color:black;
}
